<f:layout name="Default" />

<f:section name="main">

  <f:render partial="Entry/Messages" arguments="{showMessage: showMessage}"/>

  <p>
  	<f:link.action action="new"><f:translate key="label.link-new-entry"/></f:link.action>
  </p>

  <f:render partial="Entry/Pager" arguments="{pager: pager}"/>
	<div class="list">
  	<f:for each="{entries}" as="entry">
  	  <div class="entry">
    		<div class="title">
    			{entry.firstname} {entry.lastname}<f:if condition="{entry.place}"> {f:translate( key: 'label.from' )} {entry.place}</f:if>, <f:format.date format="{f:translate(key:'format.date')}">{entry.crdate}</f:format.date>
    		</div>
    		<div class="message"><f:format.nl2br>{entry.message}</f:format.nl2br></div>
    		<f:if condition="{0: entry.email, 1: entry.url}!={0: '', 1: ''}">
      		<div class="contact">
      			<f:if condition="{entry.email}">
      				<f:link.email email="{entry.email}">{entry.email}</f:link.email>
      				<f:if condition="{entry.url}"><br/></f:if>
      			</f:if>
      			<f:if condition="{entry.url}">
      				<f:link.external uri="{entry.url}" target="_blank" rel="nofollow">{entry.url}</f:link.external>
      			</f:if>
      		</div>
      	</f:if>
   			<f:if condition="{entry.comment}">
   			  <div class="comment"><f:format.nl2br>{entry.comment}</f:format.nl2br></div>
    		</f:if>
    	</div>
  	</f:for>
  </div>
  <f:render partial="Entry/Pager" arguments="{pager: pager}"/>

</f:section>
