{namespace mmcgb=MMC\MmcGuestbook\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

  <f:render partial="Entry/FormScript" arguments="{settings : settings, botTrap : botTrap}"/>

  <f:form action="create"  name="newEntry" object="{newEntry}" onsubmit="return mmcGuestbook.validateForm(this)" class="mmc-guestbook-form">
		<div class="form-row {mmcgb:ifHasErrors(propertyName:'newEntry.firstname', then:'error')}">
      <label for="mmcgbform-firstname"><f:translate key="label.firstname" />*</label>
    	<f:form.textfield property="firstname" id="mmcgbform-firstname" class="validate required"/>
    </div>
		<div class="form-row {mmcgb:ifHasErrors(propertyName:'newEntry.lastname', then:'error')}">
      <label for="mmcgbform-lastname"><f:translate key="label.lastname" />*</label>
    	<f:form.textfield property="lastname" id="mmcgbform-lastname" class="validate required"/>
    </div>
		<div class="form-row {mmcgb:ifHasErrors(propertyName:'newEntry.email', then:'error')}">
      <label for="mmcgbform-email"><f:translate key="label.email" /></label>
    	<f:form.textfield property="email" id="mmcgbform-email" class="validate email"/>
    </div>
		<div class="form-row {mmcgb:ifHasErrors(propertyName:'newEntry.url', then:'error')}">
      <label for="mmcgbform-url"><f:translate key="label.url" /></label>
    	<f:form.textfield property="url" id="mmcgbform-url" />
    </div>
		<div class="form-row {mmcgb:ifHasErrors(propertyName:'newEntry.place', then:'error')}">
      <label for="mmcgbform-place"><f:translate key="label.place" /></label>
    	<f:form.textfield property="place" id="mmcgbform-place" />
    </div>
		<div class="form-row {mmcgb:ifHasErrors(propertyName:'newEntry.message', then:'error')}">
      <label for="mmcgbform-message"><f:translate key="label.message" />*</label>
    	<f:form.textarea property="message" id="mmcgbform-message" cols="40" rows="15" class="validate required"/>
    </div>
		<f:if condition="{settings.useMathTest}">
  		<div class="form-row {f:if(condition:'{botTrap.mtError}', then:'error')}">
        <label for="mmcgbform-mts" id="mmcgbform-mts-label">{botTrap.mtLabel}*</label>
      	<f:form.textfield name="bt[mts]" id="mmcgbform-mts" class="validate required mts"/>
      </div>
    </f:if>
 		<div class="form-submit">
		  <f:render partial="Entry/HiddenFormFields" arguments="{botTrap : botTrap}"/>
     	<f:form.submit value="{f:translate(key: 'label.submit')}" />
    </div>
  </f:form>
	<p>
		<br/>
		<f:link.action action="list"><f:translate key="label.back"/></f:link.action>
	</p>

</f:section>
