<h4>{entry.firstname} {entry.lastname}<f:if condition="{entry.place}"> from {entry.place}</f:if>, <f:format.date format="{f:translate(key:'format.date')}">{entry.crdate}</f:format.date></h4>
<p>
  <f:format.nl2br>{entry.message}</f:format.nl2br>
</p>
<p>
	<f:if condition="{entry.email}">
		<f:link.email email="{entry.email}">{entry.email}</f:link.email>
		<f:if condition="{entry.url}"><br/></f:if>
	</f:if>
	<f:if condition="{entry.url}">
		<f:link.external uri="{entry.url}" target="_blank">{entry.url}</f:link.external>
	</f:if>
</p>
<br/>
<br/>
<p>
  <b>
    <f:link.action action="setIsSpam" arguments="{entryUid: entry.uid, isSpam: 0, hash: setIsSpamHash}" absolute="true">
      Ok, this is no spam.
    </f:link.action>
  <br/><br/>
    <f:link.action action="setIsSpam" arguments="{entryUid: entry.uid, isSpam: 1, hash: setIsSpamHash}" absolute="true">
      This message is spam! Ban it!
    </f:link.action>
  </b><br/>
  <br/>
  <br/>
</p>
