<f:form.textfield class="h" name="bt[h]"/>
<f:form.hidden name="bt[pHash]" value="{botTrap.pHash}"/>
<f:form.hidden name="bt[mtsh]" value="{botTrap.mtsHash}"/>
<f:form.hidden name="bt[rnd]" value="{botTrap.random}"/>
<f:form.hidden name="bt[ts]" value="{botTrap.timestamp}"/>