<f:flashMessages />
<f:if condition="{showMessage}=='created'">
	<p><f:translate key="label.confirm-entry-created"/></p>
</f:if>
<f:if condition="{showMessage}=='createdHidden'">
	<p><f:translate key="label.confirm-entry-created-hidden"/></p>
</f:if>
<f:if condition="{showMessage}=='setIsSpam'">
	<p><f:translate key="label.confirm-entry-set-isspam"/></p>
</f:if>
<f:if condition="{showMessage}=='setIsNoSpam'">
	<p><f:translate key="label.confirm-entry-set-isnospam"/></p>
</f:if>
