<f:if condition="{pager.pageCount} > 1">
  <div class="pager">
  	<ul>
	    <li class="prev">
	      <f:if condition="{pager.prevPage} >= 0">
          <f:then><f:link.action action="list" arguments="{page: '{pager.prevPage}'}">&lt;</f:link.action></f:then>
          <f:else>&lt;</f:else>
    	  </f:if>
      </li>
  	  <f:for each="{pager.pages}" key="pageN" as="pageLabel">
    	  <f:if condition="{pager.currentPage}=={pageN}">
    	    <f:then>
    	      <li class="act">{pageLabel}</li>
    	    </f:then>
    	    <f:else>
    	      <li><f:link.action action="list" arguments="{page: '{pageN}'}">{pageLabel}</f:link.action></li>
    	    </f:else>
    	  </f:if>
  	  </f:for>
 	    <li class="next">
	      <f:if condition="{pager.nextPage} >= 0">
          <f:then><f:link.action action="list" arguments="{page: '{pager.nextPage}'}">&gt;</f:link.action></f:then>
          <f:else>&gt;</f:else>
    	  </f:if>
      </li>
     </ul>
    <div></div>
  </div>

</f:if>